= stylesheet_link_tag "email"
  
#email{style: "font-family: \"Helvetica Neue\", Arial, Helvetica, sans-serif;"}

  %table.next{style: "width:400px;"}
    %thead
      %tr
        %th{colspan: 2, style: "background:#5bb7f1;color:#fff;padding:2px 4px;text-align:left;font-weight:500;text-transform:uppercase;width:100%;"} Coming Next
    %tbody
      %tr
        %td.art{width: "10%"}= image_tag(@first.box_art.small_url, style: "width:38px;height:53px;")
        %td.title{style: "text-align:left;padding-left:5px;font-weight:700;"}= @first.short_title

  - unless @movies.empty?
    %table.rest
      %thead
        %tr
          %th{colspan: 3, style: "background:#f15b5b;color:#fff;padding:2px 4px;text-align:left;font-weight:500;text-transform:uppercase;width:100%;"} Send One of These Instead?
      %tbody
        - @movies.each do |movie|
          %tr
            %td.art{width: "10%"}= image_tag(movie.box_art.small_url, style: "width:38px;height:53px;")
            %td.title{style: "text-align:left;padding-left:5px;"}
              .text{style: "font-weight:700;"}= movie.short_title
              .button
                = link_to("Send this next", adjust_queue_url(@user.token, title_ref: movie.title_ref), style:"display:block;width:105px;height:33px;background:transparent url(http://#{@asset_host}#{asset_path("emailSendButton.png")}) no-repeat 0 0;cursor:pointer;text-indent:-9999px;")