%table.next
  %thead
    %tr
      %th{colspan: 2} Coming Next
  %tbody
    %tr
      %td.art= image_tag(@first.box_art.small_url)
      %td.title= @first.short_title

- unless @movies.empty?
  %table.rest
    %thead
      %tr
        %th{colspan: 3} Send One of These Instead?
    %tbody
      - @movies.each do |movie|
        %tr
          %td.art= image_tag(movie.box_art.small_url)
          %td.title= movie.short_title
          %td.button= link_to("Send this next", "#")